body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.left-block{

}
.cart-item{
  display: inline-flex;
  margin: 20px 10px;
}
.cart-item .right-block{
   padding: 0px 20px;
  margin-left: 20px;

}

.cart-item-actions{
  margin-top: 20px;
  display: inline-flex;
}
.action-icons{
  margin-top: 20px;
}
.action-icons{
  height: 30px;
  width: 30px;
  margin-right: 10px;
  transition: transform .2s;
}
.actions-icons:focus{
  height: 35px;
  width: 35px;
}
.cart{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.custom{
  transition: transform .2s;
}
.custom:hover{
  transform: scale(1.2);
}